/* Estilo Geral*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-1:black;
    --color-2: #0026f6;
    --color-3: white;
}

body{
    background-color: var(--color-1);
    height: 100vh;
}

.flex{
    display: flex;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.button-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-size: 600;
    background-color:var(--color-2);
    color: var(--color-3);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover, form .botao-enviar input:hover{
    box-shadow: 0px 0px 8px #565ba3;
    transform: scale(1.05) ;
}

h2.titulo{
    color: var(--color-3);
    font-size: 36px;
    text-align: center;
}

h2.titulo span{
    color: var(--color-2);
}

.botao-redes-socias button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-2);
    color: var(--color-3);
    font-size: 22px;
    cursor: pointer;
    margin: 4px 5px;
    transition: 1s;
}

/* Estilo do Cabeçalho */

header{
    padding: 40px 4%;

}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

header a{
    color: rgb(97, 97, 97);
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header a:hover{
    color: var(--color-3);
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu li{
    display: inline-block;
    padding: 0 40px;
}

/*Estilo do menu mobile */

.botao-abrir i{
    color: var(--color-2);
    font-size: 40px;
}

.menu-mobile{
    background-color: var(--color-1);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
}

.menu-mobile .botao-fechar{
    padding: 20px 5%;
}

.menu-mobile .botao-fechar i{
    color: var(--color-2);
    font-size: 30px;
}


.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color:var(--color-3);
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}

/* Estilo do topo do site */

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.texto-topo-site h1{
    color: var(--color-3);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .texto-topo-site h1 span{
    color: var(--color-2);
}

.topo-do-site .texto-topo-site p {
    color: var(--color-3);
    margin: 40px 0;
}

.topo-do-site .image-topo-site{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/* Estilo das especialidades*/

section .especialidades{
    padding: 40px 4%;
}

section .especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: var(--color-3);
    padding: 40px ;
    border-radius: 20px;
    margin: 35px;
    transition: .3s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.308);
}

.especialidades .especialidades-box i{
    font-size: 60px;
    color: var(--color-2);
}

.especialidades .especialidades-box h3{
    font-size: 24px;
    margin: 11px 0;
}

/* Estilo do Sobre Mim */

section.sobre-mim{
    padding: 80px 4%;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

.img-sobre img{
    border-radius: 40px;
}

.sobre-mim .text-sobre{
    color: var(--color-3);

}

.sobre-mim .text-sobre h2{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px ;

}

.sobre-mim .text-sobre h2 span{
    color: var(--color-2);
    display: block;
}

.sobre-mim .text-sobre{
    margin: 20px;
    text-align: justify;
}

.sobre-mim .text-sobre .botao-redes-socias{
    margin-top: 20px;
}


/* Estilizando Portfolio */

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgb(46, 46, 46);
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-color: var(--color-2);
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-3);
    opacity: 0;
    transition: 2s;
}

.overlay:hover{
    opacity: 1;
}

/* Estilizando Formulario */

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0 ;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--color-3);
    font-size: 18px;
}

/* Se quiser estilizar o PLACEHOLDER */
/* form input::placeholder{ */
/* color: var(--color-2); */
/* } */

form textarea{
    resize:none;
    max-height: 200px;
}

form .botao-enviar{
    margin-top: 30px;
    text-align: center;
}

form .botao-enviar input{
    width: 120px;
    background-color: var(--color-2);
    color: var(--color-3);
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
}

/* Estilo do footer */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgb(46, 46, 46);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid var(--color-2);
}

footer .line-footer p{
    color: var(--color-3);
}

footer .line-footer p i{
    color: var(--color-2);
    font-size: 22px;
}

@media screen and (max-width: 1200px){
    /* Classe Geral */
    .flex{
        flex-direction: column;
    }
    
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    
    /* Cabeçalho */
    header .logo a img{
        width: 200px;
    }
    .menu, .button-contato{
        display: none;
    }

    /* Topo do Site */

    section.topo-do-site{
        padding: 20px 8%;
    }

    section.topo-do-site .flex{
        gap: 40px;
    }

    .texto-topo-site h1{
        font-size: 35px;
    }

    .topo-do-site .image-topo-site img{
        width: 100%;
    }
    
    /* Espicialidades */

    section .especialidades{
        padding: 40px 8%;
    }

    h2.titulo{
        font-size: 35px;
        line-height:30px;
        text-align: center;
    }

    /* Sobre Mim */

    section.sobre-mim{
        padding: 80px 8%;
    }

    section.sobre-mim .flex{
        flex-direction: column-reverse;
    }

    .sobre-mim .text-sobre h2{
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }

    .botao-redes-socias{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /* Sessão de Protifolio */
    section.portfolio{
        padding: 80px 8%;
    }

    section.portfolio .flex{
       gap: 60px;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;

    }

    /* Footer */

    footer .flex{
        gap: 30px ;
    }

    footer .line-footer{
        text-align: center;
    }
    
}